In [1]:
import pandas as pd
import requests

base_url = "https://pokeapi.co/api/v2/pokemon"
limit = 100
offset = 0

pokemon_types_data = []

while True:
    url = f"{base_url}?limit={limit}&offset={offset}"
    response = requests.get(url)
    if response.status_code == 200:
        results = response.json()["results"]
        if results:
            for result in results:
                pokemon_url = result["url"]
                response = requests.get(pokemon_url)
                data = response.json()
                # Extract the Pokemon's types data
                types_dict = {}
                types_dict["id"] = data["id"]
                types_dict["name"] = data["name"]
                types_dict["type_1"] = data["types"][0]["type"]["name"]
                if len(data["types"]) > 1:
                    types_dict["type_2"] = data["types"][1]["type"]["name"]
                else:
                    types_dict["type_2"] = None
                pokemon_types_data.append(types_dict)
            offset += limit
        else:
            break
    else:
        print(f"Received status code {response.status_code}. Stopping.")
        break

pokemon_types_df = pd.DataFrame(pokemon_types_data)

In [3]:
pokemon_types_df.drop(columns='id')

                         name    type_1  type_2
0                   bulbasaur     grass  poison
1                     ivysaur     grass  poison
2                    venusaur     grass  poison
3                  charmander      fire    None
4                  charmeleon      fire    None
...                       ...       ...     ...
1276   koraidon-gliding-build  fighting  dragon
1277  miraidon-low-power-mode  electric  dragon
1278      miraidon-drive-mode  electric  dragon
1279    miraidon-aquatic-mode  electric  dragon
1280      miraidon-glide-mode  electric  dragon

[1281 rows x 3 columns]

In [4]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:admin@localhost:5432/Pokemon')

In [6]:
pokemon_types_df.to_sql('Types', engine)

281